body {
  background-color:black;
}
a {
  color: #fff;
  
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3rem;
}
.title {
  text-align: center;
  color: #198754;
}
.form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__control {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
}
input.form__item {
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #198754;
  background-color:black;
  color: #fff;
}
input.form__item::placeholder,
label.form__item {
  color: rgba(255, 255, 255, .5);
}
label.form__item {
  font-size: 1rem;
}
.result {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #198754;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  width: 10rem;
  height: 2.5rem;
  position: relative;
  top: -2rem;
  padding: .5rem;
  font-weight: 500;
  font-size: 1rem;
}
.button:hover {
  background: #0f5735;
}
.button--long {
  position: static;
  width: 12rem;
}
.button--exit {
  background-color: rgb(173, 31, 31);
}
.button--exit:hover {
  background-color: rgb(126, 29, 29);
}
.chat_field {
  border: 3px solid #198754;
  padding-left: .5rem;
  padding-right: .5rem;
  height: 600px;
  overflow-y: auto;
}
.message {
  width: 45%;
  word-wrap: break-word;
  font-size: 1.2rem;
  font-weight: 500;;
  padding: .5rem;
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
}
.message-send {
  margin-left: auto;
  background-color: #198754;
}
.message-receive {
  margin-right: auto;
  background-color: #0B5ED7;
}
.message-error {  
  background-color: rgb(173, 31, 31);
}
.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.container button:first-child {
  margin-right: 1rem;
}